name: Infrastructure Pipeline

on: 
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: Choose the Environment
        required: true
        options:
        - dev
        - staging
        - prod


jobs:  
  run_terraform:
    runs-on: ubuntu-latest 
    environment: 
      name: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: read
    steps:

      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Configure AWS Credentials  
        uses: aws-actions/configure-aws-credentials@v1 
        with:
          role-to-assume: arn:aws:iam::${{ secrets.ACCOUNT_ID }}:role/github
          role-session-name: github-pipeline-session
          aws-region: eu-west-2 

      - name: Initialise and Run Terraform
        run: |
          cd ./infrastructure/${{ inputs.environment }}
          terraform init -input=false 
          terraform plan -out=tfplan -input=false 
          terraform apply -input=false tfplan



